<div ng-controller="consultancyCtrl">
	<div class="container">
		<div class="row">
		<div class="registration-form">
				<form role="form" ng-submit="consultancyEdit()" novalidate>
		
					<fieldset class="form-group">
						<input type="text"  name="name" id="name" ng-model="consultancyData.name" class="form-control input-lg" placeholder="Consultancy Name" tabindex="1">
					</fieldset>
					<fieldset class="form-group">
						<textarea name="address" id="cAddress" ng-model="consultancyData.address" class="form-control input-lg" placeholder="Address" tabindex="1"></textarea>
					</fieldset>
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
								<select  ng-options="option for option in states" ng-model="consultancyData.selectedState" class="form-control" ng-change="getCity()" required="required">
									<option value="">-- Select State --</option>
								</select>
							</fieldset>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
								<select ng-options="option as option.city for option in cities"
							ng-model="selectedCity" ng-change="getArea()" class="form-control custom" required="required">
							<option value="">-- Select City --</option>
						</select>
							</fieldset>
							
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
								<select ng-options="option for option in area" ng-model="consultancyData.selectedArea" class="form-control" required="required">
									<option value="">-- Select Area --</option>
								</select>
							</fieldset>
						</div>
					</div>
					<fieldset class="form-group">
						<textarea name="info" id="persnalInfo" ng-model="consultancyData.persnalInfo" class="form-control input-lg" placeholder="Personal Information" tabindex="1"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<textarea name="jobs" id="jobsInfo" ng-model="consultancyData.jobsInfo" class="form-control input-lg" placeholder="JOB OPENINGS" tabindex="1"></textarea>
					</fieldset>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group">
								<input type="email" name="email" id="email" ng-model="consultancyData.email" class="form-control input-lg" placeholder="Email Address" tabindex="4" 
								ng-pattern="validateEmail"
								ng-pattern-err-type="badEmail"
								required="required">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="contact" id="contact1" ng-model="consultancyData.contact1" class="form-control input-lg" placeholder="Contact" tabindex="1" required="required">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="contact1" id="contact2" ng-model="consultancyData.contact2" class="form-control input-lg" placeholder="Contact2" tabindex="1">
							</div>
						</div>
					</div>
					<div ng-if="userDetails.userType =='consultancy'">
						<div class="row">
						<div class="col-xs-12 col-md-6 padding-buttons">
							<input type="submit" value="Update" ng-click="updateConsultancy()" class="btn btn-primary btn-block btn-lg" tabindex="7">
						</div>
					</div>	
					</div>
					<div ng-if="userDetails.userType !='consultancy'" >
					<div class="row">
						<div class="col-xs-4 col-sm-3 col-md-3">
							<span class="button-checkbox">
								<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button> <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
							</span>
						</div>
						<div class="col-xs-8 col-sm-9 col-md-9">
							By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
						</div>
					</div>
					</div>
				</form>
		</div>

		</div>
	
	</div>
	<div class="clearfix"></div>
</div>
