<div class="row" ng-controller="consultancyCtrl">
  <div class="clearfix"></div>
  <div class="container">
 <!--   <div class="registration-form">-->
      <div class="container">
        <form role="form" class="margin-bottom8" novalidate>
          <h3 class="has-error">Consultancy is under verification</h3>
          <h2>{{userDetails.name}}<small>  Visit us and get placed in your dreamed one</small></h2>
          <hr class="colorgraph">
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <h5 class="margin-0"><a href="javascript:void(0)" class="text-primary"><h5>{{userDetails.webSite}}</h5></a></h5>
                  </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                  <label for="charges" class="label label-success"><span>Charges: </span>{{userDetails.charge}}</label>
                </div>
             </div>
            </div>
            <div class="col-md-6">
              
              <h1 class="text-center">Information</h1>
              <div class="panel panel-success">
                <div class="panel-body info-panel">
                  {{userDetails.persnalInfo}}
                </div>
              </div>
            </div>
            <div class="col-md-6 text-center">
              <h1>Contact Address</h1>
              <!--<br>-->
              <div class="row text-center">
                <div class="col-sm-6 col-xs-12 first-box">
                  <h1><i class="fa fa-phone" aria-hidden="true"></i></h1>
                  <h3 class="textwhite">Phone</h3>
                  <p>{{userDetails.contact1}}</p>
                  <br>
                </div>
                <div class="col-sm-6 col-xs-12 second-box">
                  <h1><i class="fa fa-location-arrow" aria-hidden="true"></i></h1>
                  <h3 class="textwhite">Location</h3>
                  <p>{{userDetails.selectedArea}}</p>
                  <br>
                </div>
                <div class="col-sm-6 col-xs-12 third-box">
                  <h1><i class="fa fa-envelope" aria-hidden="true"></i></h1>
                  <h3 class="textwhite">E-mail</h3>
                  <p>{{userDetails.email}}</p>
                  <br>
                </div>
                <div class="col-sm-6 col-xs-12 fourth-box">
                  <h1><i class="fa fa-external-link" aria-hidden="true"></i></h1>
                  <h3 class="textwhite">Web</h3>
                  <p>{{userDetails.webSite}}</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="clearfix"></div>-->
          <br>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Job Info</h3>
            </div>
            <div class="panel-body">
               {{userDetails.jobsInfo}}
            </div>
          </div>
          <div ng-if="userDetails.userType == 'student'" class="col-xs-12 col-sm-12 col-md-6 col-lg-3 padding13rem">
            <input type="submit" class="btn btn-lg btn-default btn-block" ng-click="sendJobMail()" value="Apply">
          </div>
          <div ng-if="userDetails.userType =='consultancy'" class="col-xs-12 col-sm-12 col-md-6 col-lg-3 padding13rem pull-right">
            <input type="submit" class="btn btn-lg btn-success btn-block" ng-click="consultancyEdit()" value="Edit">
          </div>
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-info text-center" role="alert">
                <!--<button type="button" class="close" data-dismiss="alert"></button>-->
                <!--<strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again. </div>-->
                <strong>Note: All the above information is updated by consultancy itself.</div>
            </div>
          </div>
          <!--<hr class="colorgraph">-->
        </form>
      </div>
    <!--</div>-->
    
  </div>
  <br>
 <!-- <div class="clearfix"></div>-->
</div>
