<div class="alert" ng-class="ngClass" ng-if="ngIf">
  <div class="component-width">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><label>{{errorMessage}}</label>
  </div>
</div>