<div ng-controller="loginCtrl">
	<div class="col-lg-12">
		<div class="registration-form login-container">
		<form role="form" ng-submit="login()" novalidate>
			<fieldset>
				<h2>Please Sign In</h2>
				<!--<hr class="colorgraph">-->
				<div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" ng-model="user.username" placeholder="Email Address" 
                    ng-pattern='validateEmail' 
                    ng-pattern-err-type="badEmail"
                    required="required">
				</div>
				<div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" ng-model="user.password" placeholder="Password" required="required">
				</div>
				<span class="button-checkbox">
					<button type="button"  class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a href="" class="btn btn-link pull-right">Forgot Password?</a>
				</span>
				<!--<hr class="colorgraph">-->
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="#/register" class="btn btn-lg btn-primary btn-block">Register</a>
					</div>
				</div>
			</fieldset>
		</form>

			<error-box data-error-message="{{errorMessage}}" ng-class="{'alert-danger': obj.value == 'error', 'alert-success': obj.value == 'success'}" ng-if="showError"></error-box>
		
	</div>
	</div>
</div>
