<div ng-controller="StudProfileViewCntlr" class="container">
  <div class="registration-form">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 col-sm-offset-3 text-right">
      <br>
      <p class="text-info">July 10, 2016, 11:30 pm </p>
    </div>
    <div class="clearfix"></div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{userDetails.fName+userDetails.lName}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 text-center padding-buttons profile-img-container">
          <img id="upload_button" alt="User Image" src="http://dummyimage.com/228x228/ccc/fff.png" ng-src="{{userDetails.selectedImage}}" class="img-circle img-responsive">
          <label ng-if="completed" class="text-success">Upload Completed!</label>
          <div class="profile-img-i-container">
            <i class="fa fa-upload fa-5x"></i>
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 text-center">
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Department:</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Programming</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Hire date:</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">06/23/2013</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Date of Birth</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">01/24/1988</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Gender</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Male</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Home Address</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.address}}</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Email</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.email}}</a>
            </p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Phone Number</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.contact}}</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Experience</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.expYr}}</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Speciality</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.special}}</p>
          </div>

          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Experience In Any</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.exp}}</p>
          </div>
          <div class="row">
            <label class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Branch</label>
            <p class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{{userDetails.branch}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="row">
						<fieldset class="form-group">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<legend>Upload Image:</legend>
								<input type="file" id='upload_input'  class="form-control-file" required>
								
							</div>
						</fieldset>
					</div>-->
    <div class="row">
      <div class="col-xs-12 col-md-6 padding-buttons">
        <input type="submit" value="Edit" ng-click="studEdit()" class="btn btn-primary btn-block btn-lg" tabindex="0">
      </div>
    </div>
  </div>
</div>
