<div ng-controller="StudProfileUpdateCntlr">
	<div class="container">

		<div class="row">
			<div class="registration-form">
				<form novalidate>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="first-name" id="fn" ng-model="userDetails.fName" class="form-control input-lg" placeholder="First Name" tabindex="0">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="last-name" id="ln" ng-model="userDetails.lName" class="form-control input-lg" placeholder="Last Name" tabindex="0">
							</div>
						</div>
					</div>
					<fieldset class="form-group">
						<textarea name="address" id="first_name" ng-model="userDetails.address" class="form-control input-lg" placeholder="Address" tabindex="0"></textarea>
					</fieldset>
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
								<select ng-options="option for option in states" ng-model="selectedState" ng-change="getCity()" class="form-control" required>
									<option value="">-- Select State --</option>
								</select>
							</fieldset>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
				 			<select ng-options="option as option.city for option in cities track by option.id" ng-model="selectedCity"  class="form-control" required>
									<option value="">-- Select City --</option>
								</select>
							</fieldset>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<fieldset class="form-group">
								<select ng-options="option for option in area" ng-model="selectedArea"  class="form-control">
									<option value="">-- Select Area --</option>
								</select>
							</fieldset>
						</div>
					</div>
					<fieldset class="form-group">
						<textarea name="info" id="persnalInfo" class="form-control input-lg" ng-model="userDetails.info" placeholder="Personal Information" tabindex="0"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="email" name="email" id="email" class="form-control input-lg" ng-model="userDetails.email" placeholder="Email Address" ng-readonly="true" tabindex="4">
					</fieldset>
					
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="number" name="experience" id="experience" ng-model="userDetails.expYr" class="form-control input-lg" placeholder="Experience" tabindex="0">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" name="contact1" id="speciality" ng-model="userDetails.special" class="form-control input-lg" placeholder="Speciality" tabindex="0">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" name="experience-any" id="experienceAny" ng-model="userDetails.exp" class="form-control input-lg" placeholder="Experience in any" tabindex="0">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" name="branch" id="branch" ng-model="userDetails.branch" class="form-control input-lg" placeholder="Branch" tabindex="0">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" name="contact" id="contact1" ng-model="userDetails.contact" class="form-control input-lg" placeholder="Contact" tabindex="0">
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="form-group">
								<input type="text" name="contact1" id="contact2" ng-model="userDetails.contact2" class="form-control input-lg" placeholder="Contact2" tabindex="0">
							</div>
						</div>
					</div>
					<div class="row">
						<fieldset class="form-group">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<legend>Upload Resume:</legend>
								<input type="file" id='upload_input'  class="form-control-file" required>
								<label ng-if="completed" class="text-success">Upload Completed!</label>
							</div>
						</fieldset>
					</div>
				
					<hr class="colorgraph"
					<div class="row">
						<div class="col-xs-12 col-md-6 padding-buttons">
							<input type="submit" value="Update" ng-click="updateStudProfile()" class="btn btn-primary btn-block btn-lg" tabindex="0">
						</div>
					</div>
				</form>
			</div>

		</div>
		
	</div>

	<div class="clearfix"></div>
</div>
