@charset "utf-8";

/* CSS Document */


/* Credit to bootsnipp.com for the css for the color graph */

body {
    background-color: #EEEEEE;
}

/*
body-bg-color {
    background-color: inherit;
}
*/

/*.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}*/

.menu-wrap {
    background: #2196f3 none repeat scroll 0 0;
    height: 80px;
    transform: translate3d(0px, 0px, 0px);
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.4s, 0.4s, 0.4s;
    transition-property: width, height, transform;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
    z-index: 999;
}

.menu {
    font-size: 0.75em;
    height: 100%;
    overflow: hidden;
}

.icon-list {
    float: right;
    padding: 2.5em 2em 0 6em;
}

.icon-list a {
    display: inline-block;
    font-size: 1.2em;
    margin: 0 15px;
    color: #fff;
    padding: 0 0.2em;
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.icon-list a span {
    display: block;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 0.5em;
    text-transform: uppercase;
}

.white {
    background-color: #fff;
    /*background-image: url("../images/slider1.png");*/
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    /*padding-bottom: 101px;*/
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #47a3da !important;
    z-index: 9999;
}

.pagination-wrapper {
    width: 100%;
    bottom: 60px;
    text-align: right;
    padding-right: 2em;
    position: absolute;
}

.form-control,
ul> li> a {
    color: #47a3da;
}

.subfooter {
    height: 50px;
    width: 100%;
}

.container .text {
    margin: 10px 0;
    color: #b2b2b2;
}

.bold {
    color: #ffffff;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.copyrht {
    color: #fff;
    /* float: left;*/
    font-size: 11px;
    /* opacity: 0.4;*/
    padding: 10px 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.common {
    font-size: 11px;
    font-weight: bold;
    color: #b2b2b2;
}

.site:hover {
    color: #00aced;
    text-decoration: none;
}

.links:first-child {
    padding-left: 0;
}

.links {
    color: #b2b2b2;
    display: inline-block;
    height: 30px;
    padding-left: 12px;
}

.links:hover {
    color: #00aced;
}

.divider {
    background-color: #00aced;
    height: 3px;
    margin-bottom: 5px;
    width: 40px;
}

.head {
    margin-top: 70px;
}

.rowMargin {
    margin-top: 20px;
    margin-left: 50px;
}

.register {
    color: #00aced;
    margin-left: 10px;
    padding: 5px;
}

.register:hover {
    text-decoration: none;
    color: #1e88e5;
}

@media screen and (max-width: 360px) {
    .footer {
        height: auto;
        position: fixed;
    }
    .subfooter {
        position: relative;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .reg {
        text-align: center;
        margin-top: 10px;
    }
    .rowMargin {
        margin-left: 0
    }
}

.registration-form,
.login-container {
    position: relative;
    padding: 1rem;
    /*  margin: 1rem -1rem;*/
    padding-bottom: 10%;
    width: 100%;
    margin: 0 auto;
}

.login-container {
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}


/*Re-useable classes*/

select.custom {
    /*select css*/
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: rgba(247, 253, 202, 0.43);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.custom::-ms-expand {
    /*fallback for ie*/
    display: none;
}

.padding-buttons {
    padding-bottom: 10px;
}

.padding13rem {
    padding: 1.3rem;
}

.padding-right5 {
    padding-right: 5px;
}

.padding-left5 {
    padding-left: 5px;
}

.padding-0 {
    padding: 0;
}

.alert {
    margin-bottom: 0;    
}

.alert-danger {
    border-radius: 5px;
    width: 100%;
    display: table;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-top: 12px;
}

.margin-bottom8 {
    margin-bottom: 8%;
}

.margin-0 {
    margin: 0px;
}

.info-panel {
    max-height: 300px;
    overflow-x: auto;
}

.radio-buttons {
    height: 30px;
    width: 30px;
}

.display-table {
    display: table;
}

.vertical-centre {
    display: table-cell;
    vertical-align: middle;
}

.capatalize {
    text-transform: capitalize;
}

.fa {
    font-size: 25px;
}

.navbar-nav>li>a {
    padding: 12px 10px;
}

/*Modal CSS*/
.modal-backdrop {
    z-index: 0;
}
/*Modal CSS ends*/


/*Navbar CSS*/
/*.navbar-inverse .navbar-brand {
        color: #c5ffd2;
    position: relative;
    font-size: 30px;
    z-index: 2;
}

.navbar-inverse .navbar-nav>li>a {
    color: #c5ffd2;
}*/
/* adjust body when menu is open */

body.slide-active {
    overflow-x: hidden
}


/*first child of #page-content so it doesn't shift around*/

.no-margin-top {
    margin-top: 0px!important
}


/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */

#page-content {
    position: relative;
    padding-top: 71px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}


/* put toggle bars on the left :: not using button */

#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
    z-index: 3;
}


/* icon bar prettyup - optional */

#slide-nav .navbar-toggle> .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}


/* un fix the navbar when active so that all the menu items are accessible */

.navbar.navbar-fixed-top.slide-active {
    position: relative
}

/*.navbar-inverse {
    background-color: #47a3da;
    border-color: #47a3da;
    opacity: 0.9;
    color: rgb(255, 255, 255);
}*/




/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */

@media (max-width:767px) {
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 22%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: 51px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        background-color: #47a3da;
        /*opacity: 0.9;*/
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
 /*   #slide-nav.navbar-inverse #slidemenu {
        background-color: #47a3da;
        opacity: 0.9;
    }*/
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 22%;
        left: -80%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background-color: #47a3da;
        /*opacity: 0.9;*/
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
}

@media (min-width:768px) {
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}


/* .navbar {
    border-bottom: 4px solid #47a3da;
    border-radius: 0;
}

.navbar-toggle {
    background-color: #47a3da;
}

.icon-bar {
    background-color: #FFFFFF;
}

.navbar-brand {
    color: #47a3da;
    position: relative;
    font-size: 30px;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
    text-align: center;
}


.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -500px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

.toppad {
    margin-top: 20px;
}

.img-circle {
    height: inherit;
}

@media screen and (max-width: 767px) {
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
} */


/*Navbar CSS ends*/


/*Table with pagination*/

.panel-table {
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.panel-table .panel-body {
    padding: 0;
}

.panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
    cursor: pointer;
}

.panel-table .panel-body .table-bordered> thead> tr> th:first-of-type {
    text-align: center;
    width: 100px;
}

.panel-table .panel-body .table-bordered> thead> tr> th:last-of-type,
.panel-table .panel-body .table-bordered> tbody> tr> td:last-of-type {
    border-right: 0px;
}

.panel-table .panel-body .table-bordered> thead> tr> th:first-of-type,
.panel-table .panel-body .table-bordered> tbody> tr> td:first-of-type {
    border-left: 0px;
}

.panel-table .panel-body .table-bordered> tbody> tr:first-of-type> td {
    border-bottom: 0px;
}

.panel-table .panel-body .table-bordered> thead> tr:first-of-type> th {
    border-top: 0px;
}

.panel-table .panel-footer .pagination {
    margin: 0;
}


/*
used to vertically center elements, may need modification if you're not using default sizes.
*/

.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-heading .col h3 {
    line-height: 30px;
    height: 30px;
}

.panel-table .panel-body .table-bordered> tbody> tr> td {
    line-height: 34px;
}

.home-buttons {
    width: 100%;
}


/*Table with pagination ends*/

/*Image Upload Starts*/
.profile-img-container {
    position:relative;
}

.profile-img-container:hover img {
    opacity: 0.5;
}

.profile-img-container:not(:hover) .profile-img-i-container {
    display: none;
}

.profile-img-i-container {
   /* position: absolute;
    top: 37%;*/
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 500;
}

.profile-img-i-container i {
    display:block;
    line-height: inherit;
}
/*Image Upload ends*/

/*Re-useable classes end*/

@media (max-width: 544px) {
    /*media query for mobile views under 544px viewport size*/
    .registration-form {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: 1.5rem;
        border-width: .2rem;
        width: 100%;
        margin-bottom: 20%;
    }
    .login-container {
        width: 100%;
    }
}
