<div class="col-md-4" ng-controller="JobsCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading row margin-0">
                <h3 class="panel-title col-lg-6" style="padding: 6px 0;"><i class="fa fa-users" aria-hidden="true"></i> Jobs</h3>
            <div class="col-lg-6 padding-0">
                <div class="form-group margin-0">
                    <!--<label>Selects</label>-->
                    <select class="form-control">
                        <option>Published</option>
                        <option>Non-published</option>
                        <option>Expired</option>
                    </select>
                </div>
            </div>
        </div>
        <section>
            <div class="col-lg-12 padding13rem">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">Create</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Create Job</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" ng-submit="createJob()">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="item in createJobModel">
                                            <div class="form-group margin-0">
                                                <label class="control-label">{{item.caption}}</label>
                                                <input type="text" class="form-control" ng-model="item.model" required="required">
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-default"  value="Add Job" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
                <section>
                        <ul class="list-group">
                            <li class="list-group-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-plus-square-o"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            New Job <a href="javascript:void(0)">Java, AngularJS, NodeJS, Karma, MEAN Stack</a> created.
                                            <button type="button" class="btn btn-info padding-0">Publish</button>
                                        </div>
                                        <div class="time pull-left">
                                            Today
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            </li>
                        </ul>
                    </section>
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-arrow-down"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    <a href="#">Load more...</a>
                </div>
            </div>
        </section>
    </div>
</div>